<div class="container">

    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Search by name or email..." [(ngModel)]="searchText">
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table caption-top">
                <caption>Employees</caption>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Department</th>
                        <th scope="col">Register</th>
                        <th scope="col">Last Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of filteredEmployees()">
                        <td>{{ e.name }}</td>
                        <td>{{ e.email }}</td>
                        <td>{{ e.department}}</td>
                        <td>{{e.createdAt}}</td>
                        <td>{{e.updatedAt}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
